body {
    background-image: url(https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?size=626&ext=jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.customer-info {
 margin: 150px;
    background-color: hotpink;
    border: 2px solid black;
    width: 600px;
    height: 500px;
    display: flex;
    
}
.form-style {

    margin: 50px;
    width: 50%;
    height: 50%;
}
